*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.text1{
    width: 50%;
    height: 100vh;
    background-color: burlywood;
    position: absolute;

}

.pic1{
    width: 50%;
    height: 100vh;
    background-color: yellow;
    position: relative;
    top: 0;
    left: 675px;
} 

.pic2{
    width: 50%;
    height: 100vh;
    background-color: greenyellow;
    position: absolute;
}

.text2{
    width: 50%;
    height: 100vh;
    background-color: blueviolet;
    position: relative;
    top: 0;
    left: 675px;
}

.text1 p{
    font-size: 60px;
    text-align: center;
}
.pic1 p{
    font-size: 60px;
    text-align: center;
}
.text2 p{
    font-size: 60px;
    text-align: center;
}
.pic2 p{
    font-size: 60px;
    text-align: center;
}

