*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 800px;
    background: rgb(40, 36, 73);
    padding: 30px 50px 60px 60px;
}

.part1{
    width: 600px;
    height: 78%;
    background: floralwhite url("../images/advertisement1.png");
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 30px;
    border-radius: 40px;
}

.part2{
    width: 585px;
    height: 372px;
    margin-top: 30px;
    background: floralwhite url("../images/advertisement2.png");
    position: relative;
    top: 0;
    position: relative;
    top: 0;
    left: 700px;
    border-radius: 40px;
    background-repeat: no-repeat;
    
}