*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.section1{
    width: 100%;
    height: auto;
    background: cadetblue;
    padding-top: 50px;
   

}

.section1 .button{
    width: 100%;
    height: 80px;
    background-color: rgb(11, 196, 51);
    
    
}

.button .one{
    width: 150px;
    height: 50px;
    background-color: darkorchid;
    margin-top: 40px;
    

}

.button .two{
    width: 150px;
    height: 50px;
    background-color: darkorchid;
    

}

.button .three{
    width: 150px;
    height: 50px;
    background-color: darkorchid;
    
}

.section1 .content{
    width: 600px;
    height: 300px;
    background-color: darkred;

}

.section2{
    width: 100%;
    height: auto;
    background-color: deeppink;
    
}

.section2 .box1{
    width: 500px;
    height: 500px;
    background-color: gold;
}

.section2 .box2{
    width: 300px;
    height: 500px;
    background-color: blue;
}