@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 70px;
    background-color: rgb(45, 38, 65);
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    position: sticky;
    display: flex;
    top: 0;

}

.header ul li{
    display: inline-flex;
    margin-left: 20px;
    margin-right: 50px;
}

.header li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-btn{
    margin: 5px;
    width: 90px;
    height: 50px;
    text-align: center;
    padding-top: 13px; 
}

.nav-btn:hover{
    border: 2px solid darkgray;
    background-color: rgba(207, 245, 39, 0.808);
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
}

.box{
    width: 300px;
    height: 250px;
    background-color: cornflowerblue;
    border: 3px solid black;
    display: inline-block;
    margin-top: 70px;
    margin-left: 80px;
    margin-right: 70px;
    border-radius: 30%;
    align-content: center;
    text-align: center;
    background: rgba(0,0,0,0.7) url('../images/templateCover.jpg');
}

.box p{
    padding-top: 190px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: rgba(0,0,0,0.7) url("https://source.unsplash.com/1600x900/?code,webdesign,water,nature");
    align-content: center;
    padding-top: 400px;
}

.tag-line{
    background-color: rgba(118, 231, 83,0.6);
    width: 800px;
    height: 300px;
    padding-top: 40px;
    margin-left: 500px;
}

.tag-line p{
    font-family: 'Bonheur Royale', cursive;
    font-size: 90px;
}

.demo{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to bottom right,white,rgb(80, 79, 173),rgb(18, 10, 136));
}

.contact{
    width: 100%;
    height: 300px;
    background: rgba(58, 49, 92, 0.7);
}

footer{
    width: 100%;
    height:70px;
    background: rgba(133, 241, 119, 0.5);
}

footer p{
    text-align: center;
    padding: 30px 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    font-size: 20px;
}